<ion-content class="login-content">
  <public-header></public-header>
  <div class="login register register-sub">
    <ul>
      <li>
        <label>
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-mima1"></use>
          </svg>
        </label>
        <input type="password" [(ngModel)]="password_1" maxlength="20">
        <span *ngIf="!password_1" class="placeholder">请输入密码</span>
      </li>
      <li>
        <label>
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-mima1"></use>
          </svg>
        </label>
        <input type="password" [(ngModel)]="password_2" maxlength="20">
        <span *ngIf="!password_1" class="placeholder">请再次输入密码</span>
      </li>
      <li></li>
    </ul>
    <button class="confirm" disabled={{isNext}} (click)="modifyPassword()">确定</button>
  </div>
</ion-content>
