ion-textarea {
  textarea {
    height: 80px !important;
  }
}
.car-info-list {
  .user-info {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 20px 0;

    .avatar {
      height: 25vw;
      width: 25vw;
    }
    .info {
      margin-left: 20px;
      font-size: 2rem;

      p {
        margin: 0;
      }
      button {
        border-radius: 8px;
        margin-top: 10px;
      }
    }

  }
  h2.title {
    font-size: 1.8rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
  }
}
