city-picker {
  .wrapper.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 99;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .visible {
    display: block;
  }
  .hidden {
    display: none;
  }

  &[modal] {
    .content {
      margin-top: 0;
    }
  }
}
.city-picker-wrapper {
  ion-backdrop {
    opacity: .3;
  }
  .popover-content {
    width: 100vw;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
  }
  .city-picker-content {
    .header {
      padding: 12px 20px;
      background: #f1f1f1;
      border-bottom: 1px solid #ddd;
      ul {
        display: flex;
        height: 20px;
        line-height: 20px;
        margin: 0;
        padding: 0;
        justify-content: flex-start;
      }
      li {
        width: auto;
        height: 20px;
        line-height: 20px;
        margin: 0 10px 0 0;

        span {
          color: $color;
        }
      }
    }
    .city-list {
      margin: 0;
      padding-top: 10px;
      padding-left: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      li {
        width: 33%;
        margin: 3px 0;
        text-align: center;
        font-size: 14px;
        line-height: 38px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        justify-content: center;
      }
    }
  }
}
